{% extends "base.html" %}
{% block content %}

<style>
    h2 {
        margin-left: 20px;
        margin-bottom: 30px;
    }

    .admin-page-wrapper {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .admin-sections {
        display: flex;
        gap: 30px;
        margin-bottom: 40px;
        margin-top: 20px;
        align-items: flex-start;
    }

    .users-box,
    .inventory-box {
        max-height: 300px;
        overflow-y: auto;
        width: 500px;
        background: rgba(246, 173, 220, 0.207);
        backdrop-filter: blur(6px);
        padding: 10px;
        border-radius: 10px;
        border: 1px solid rgba(250, 180, 245, 0.3);
        margin-left: 20px;
    }

    .users-box h3,
    .inventory-box h3 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

    .users-box table,
    .inventory-box table {
        width: 100%;
        border-collapse: collapse;
    }

    .users-box th,
    .users-box td,
    .inventory-box th,
    .inventory-box td {
        padding: 8px;
        border-bottom: 1px solid rgb(245, 197, 243);
    }

    .users-box::-webkit-scrollbar,
    .inventory-box::-webkit-scrollbar {
        width: 8px;
    }

    .users-box::-webkit-scrollbar-thumb,
    .inventory-box::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.25);
        border-radius: 10px;
    }

    .users-box::-webkit-scrollbar-thumb:hover,
    .inventory-box::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.4);
    }

    .buttonOrder {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .buttonOrder a {
        color: #744c74;
        text-decoration: none;
        font-size: 25px;
        transition: 0.3s ease;
    }

    .buttonOrder a:hover {
        color: #e9a6e9;
    }
</style>

<div class="admin-page-wrapper">

    <h2>Admin Dashboard</h2>

    <div class="admin-sections">

        <div class="users-box">
            <h3>Registered Users</h3>

            <table class="users-table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>

                {% for u in users %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.first_name }} {{ u.last_name }}</td>
                    <td>{{ u.email }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="inventory-box">
            <h3>Inventory</h3>

            <table class="inventory-table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                </tr>

                {% for p in products %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.name }}</td>
                    <td>{{ p.category }}</td>
                    <td>${{ "%.2f"|format(p.price) }}</td>
                    <td>{{ p.stock }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div class="buttonOrder">
            <p>
                <a href="{{ url_for('admin_orders') }}">
                    View Orders
                </a>
            </p>

            <p>
                <a href="{{ url_for('admin_store_view') }}">
                    Update Products
                </a>
            </p>

            <p>
                <a href="{{ url_for('admin_refunds') }}">
                    Refund Requests
                </a>
            </p>
        </div>

    </div>

</div>

{% endblock %}