{% extends "base.html" %}
{% block content %}

<h1>Your Cart</h1>

{% if session.cart and session.cart|length > 0 %}
    {% for item in session.cart %}
        <div class="cart-item">
            <img src="{{ url_for('static', filename='Garden_Catalog/' ~ item.category ~ '/' ~ item.image_url) }}" class="cart-img">

            <p class="cart-name">{{ item.name }}</p>
            <p class="cart-price">${{ item.price }}</p>
            <p class="cart-qty">Qty: {{ item.quantity }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>Your cart is empty.</p>
{% endif %}

{% endblock %}
